*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    font-family:'barlow', sans-serif;
    background-color: #FFF;
}
.header{
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0m;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-bottom: 4.25rem;
}
@media screen and (width>768px){
    .header{
        padding-left:2.4375rem;
        padding-top: 2.5rem;
    }
    .top-bar{
        padding-right: 2.5rem;
    }
    .header-content{
        position: relative;
        display: flex;
        align-items: center;
        height: 26.5625rem;
        overflow: hidden;

    }
    .header-info{
        width: 21.25rem;
    }
}
@media screen and (width>1040px){
    .header{
        padding-left:10.3125rem;
        padding-top: 3.4375rem;
    }
    .top-bar{
        padding-right: 10.3125rem;
    }
    .header-content{
        position: relative;
        display: flex;
        align-items: center;
        height: 26.5625rem;
        overflow: hidden;
    }
    .header-content::after{
        content:"";
        position: absolute;
        top: 0;
        left: 58.125rem;
        width: 14.0625rem;
        height: 15rem;
        border-radius: 1.25rem;
        background-color: #E8EFF2;
    }
    .header-info{
        width: 21.25rem;
    }
}
.call-action{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}
.title{
    font-weight:900;
    color:#162542;
}
.title-xl{
   font-size:3rem;
}
.title-l{
    font-size: 2rem;
    line-height: 2.25rem;
    text-transform: uppercase;
}
.title-m{
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-transform: uppercase;
}
.text{
    font-size: 1rem;
    font-weight: 500;
    line-height:1.6rem;
    color: #7B8BAD;
    margin-bottom: 2rem;
}
.text-footer{
    font-weight:700;
}
.button{
    font-family: inherit;
    border-radius: 0.5rem;
    padding: 0.6rem 0.8rem;
    border: none;
    font-weight: 700;
}
.button-primary{
    background-color: #E8EFF2;
    color: #162542 ;
}
.button-secondary{
    background-color: #F16718;
    color: #FFF;
}
@media (hover: hover){
    .button-primary:hover{
        color: #FFF;
        background-color: #162542;
    }
    .button-secondary:hover{
    background-color:#FF9B62;
    }
}
.span{
    padding: 0.6rem 0.8rem;
    font-weight: 700;
    color: #7B8BAD;
}
.image{
    border-radius: 1.25rem;
    margin-bottom: 1.5rem;
}
.image-header{
    border-radius: 1.25rem 0 0 1.25rem;
}
@media screen and (width>768px){
    .image-header{
    position:absolute;
    top: 0;
    left: 26.5625rem;
    height: 26.5625rem;    }
}
@media screen and (width>1040px){
    .image{border-radius: 1.25rem;}
    .image-header{
    position:absolute;
    top: 0;
    left: 26.5625rem;
    height: 26.5625rem;    }
} 
.image-small{
    width: 100%;
    height: 100%;
    border-radius: 0 1.25rem 1.25rem 0;
}
.image-medium{
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
}
.image-container{
    position: relative;
}
.image-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 1.25rem 1.25rem 0;
    background-color: #F16718;
    mix-blend-mode: multiply;
}
@media screen and (width>768px){
    .image-small{
        border-radius: 1.25rem;
    }
        .image-container::after{
            border-radius:1.25rem;
        }
}
.main-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 6rem;
 }
.picture-section{
    padding-right: 1.5rem;
    display: flex;
    gap: 1.5rem;
}
.section-info{
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
}
@media screen and (width>768px){
    .picture-section{
        gap: 1.875rem;
        padding-top: 1.5rem;
        padding-left:2.4375rem ;
        padding-right: 2.4375rem;
    }
    .section-info{
        display: flex;
        align-items: center;
        text-align: justify;
        padding-inline: 3rem;
        gap: 2.25rem;
    }
} 
@media screen and (width>1040px){
    .main-section{
        position: relative;
        flex-wrap: nowrap;
        padding-inline: 10.3125rem;
        gap: 4rem;
    }
    .main-section::after{
        content:"";
        position: absolute;
        top: 10.4rem;
        left: -5.625rem;
        width: 14.0625rem;
        height: 15rem;
        border-radius: 1.25rem;
        background-color: #E8EFF2;
    }
    .picture-section{
        width: 100;
        padding-top: 1.5rem;
        padding-inline: 0;
    }
    .section-info{
        display: flex;
        width: 40%;
        flex-direction: column;
        text-align: left;
        gap: 0%;
    }
} 
.features-section{
    display: flex;
    flex-wrap: wrap;
    padding-inline: 1.5rem;
    gap:4rem;
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.icon{   
    display: flex;
    align-items: center;
    justify-content: center;
    height:4.0625rem;
    width: 4.0625rem;
    border-radius: 1rem;
    background-color: #F16718;
}
.card-info{
    width: 20.4375rem
}
@media screen and (width>768px){
    .features-section{
       padding-inline: 2.5rem;
    }
    .card{
        align-items: start;
        text-align: left;
    }
} 
@media screen and (width>1040px){
    .features-section{
        flex-wrap: nowrap;
        justify-content: center;
       padding-inline: 10.3125rem;
       gap: 1.5rem;
    }
    .card{
        align-items: start;
        text-align: left;
    }
    .card-info{
        width: 15.9375rem;
    }
} 
.footer{
    display: flex;
    justify-content: center;
}